@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.card {
   @apply w-full rounded overflow-hidden bg-white border p-4;
   min-height: 150px;
 }

 .header-menu-card {
   width: 30px;
   height: 30px;
   @apply text-gray-500 text-lg hover:text-gray-900 cursor-pointer flex justify-center rounded hover:bg-blue-50;
 }

 .card-answer {
   @apply w-full rounded overflow-hidden bg-white p-4 border;
   min-height: 100px;
 }

 .question-title {
   @apply self-start text-4xl text-left;
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
 }

 .question-explain {
   @apply text-gray-700 text-base text-xl;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
 }