@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

.nav {
  @apply bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900;
}

.nav-link {
  @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

.input-field {
  @apply font-bold block w-full text-base mb-2 border h-10 outline-none focus-visible:border-2 focus-visible:border-blue-900 pl-3;
}

.text-area {
  @apply block w-full text-base mb-2 border h-10 outline-none focus-visible:border-2 focus-visible:border-blue-900 pl-3;
  height: 200px;
  padding-top: 10px;
}

.main-container {
  @apply container px-6 mx-auto grid grid-cols-4 gap-3;
}

.form-container {
  @apply px-10 mx-auto h-96;
}

.form-button-right {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right;
}

.button-new-question {
  @apply bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right;
}

.button-answer {
  @apply bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-4 rounded float-right;
}

.tag {
  @apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2;
}

.card {
  @apply w-full rounded overflow-hidden shadow-lg bg-white flex;
  min-height: 150px;
}

.card-answer {
  @apply w-full rounded overflow-hidden shadow-lg bg-white flex p-4;
  min-height: 100px;
}

.card-sm {
  @apply w-full rounded overflow-hidden shadow-lg border border-gray-100 bg-white flex p-4 align-middle;
  @apply hover:border-blue-900 hover:cursor-pointer hover:text-blue-800;
  min-height: 50px;
}

.arrow-icon {
  @apply fill-gray-400 hover:fill-blue-800;
}