@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  @apply bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900;
}

.nav-link {
  @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

.input-field {
  @apply block w-full text-base font-bold mb-2 border h-10 outline-none focus-visible:border-2 focus-visible:border-blue-900 pl-3;
}

.text-area {
  @apply input-field h-56;
}

.main-container {
  @apply container w-full mx-auto px-6 bg-blue-700;
}